<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WpfSalibandyTournament.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WpfSalibandyTournament.Properties.Settings>
            <setting name="17KXfjTCbujFcfjhnLXQn0Su4simcAer" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="mysql.labranet.jamk.fi" serializeAs="String">
                <value>server</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>M3203</value>
            </setting>
        </WpfSalibandyTournament.Properties.Settings>
    </userSettings>
</configuration>